/** CREATE GAME BUTTON **/
.btn-wrap {
    width: 1284px;
}

.btn {
    display: block;
    margin: 0 auto 0 auto;
    width: 276px;
    height: 76px;
    background: #2865a2;
    border: 2px solid rgb(255,198,0);
    font-size: 36px;
    font-weight: 700;
    color: #ffc600;
    text-transform: uppercase;
    line-height: 70px;
    position: relative;
    top: -350px;
}

.btn a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.btn a:link {
    color: #ffc600;
}

.btn a:visited {
    color: #ffc600;
}

.btn a:hover {
    color: #ffc600;
}

.btn a:active {
    color: #ffc600;
}

.login-reminder {
    font-size: 24px;
    text-align: center;
    font-family: Montserrat;
    color: #fff;
}