<div class="header">
    <div class="header-content">
        <div class="logo">
              KEEPERS OF TIME
        </div>
        <div [ngClass]="{'menu-user': user, 'menu': !user}">
            <a  [routerLink]=" ['./'] ">
                MAIN
           </a>
            <a href="/assets/img/crown-ico.png" download="download">
                DOWNLOAD APP
            </a>
            <a [routerLink]=" ['./tables'] ">
                GAMES
            </a>
            <div class="user">
                <div class="user-name" *ngIf="user">
                    {{user.name}}
                </div>
                <a [routerLink]=" ['./login']"  *ngIf="!user">
                    <button> 
                        LOGIN
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>