<div class="header">
    <div class="header-content">
        <div class="logo">
              KEEPERS OF TIME
        </div>
        <div class="menu">
            <a  [routerLink]=" ['./'] ">
                MAIN
           </a>
            <a href="/assets/img/crown-ico.png" download="kutas">
                DOWNLOAD APP
            </a>
            <a [routerLink]=" ['./tables'] ">
                GAMES
            </a>
            <div class="user">
                <div class="user-name" *ngIf="user2.getName().length > 0">
                    {{user2.getName()}}
                </div>
                <a [routerLink]=" ['./login']"  *ngIf="user2.getName().length == 0">
                    <button> 
                        LOGIN
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>