/** KARAZHAN TABLES LIST **/

.container {
    width: 1290px;
    height: 388px;
    background: #2865a2 url(/assets/img/karazhan-tables.png) no-repeat;
    border-top: 1px #ffc600 solid;
    margin-bottom: 50px;
}
/** STATUS INFO **/


.status {
    text-transform: uppercase;
    color: #ffc600;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
}

/** INSTANCE INFO (name + versus) **/


.instance {
    text-transform: uppercase;
    color: #ffc600;
    font-family: Alliance, sans-serif;
    font-size: 72px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.results {
    display: flex;
    justify-content: space-around;
    color: #ffc600;
    text-transform: uppercase;
}

.versus {
    font-family: Alliance, sans-serif;
    font-size: 36px;
}

.player {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.time {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.time span {
    display: block;
}

.winner {
    display: inline-block;
}

.player img {
    width: 40px;
    display: none;
}

.player.winner img {
    display: inline-block;
}
