<div class="table-view">
    <div class="col1">
        <div class="user-code">
            your in-app code<span>{{gameTable.pair_code}}</span>
        </div>
    </div>
    <div class="col" *ngFor="let gameSession of gameTable.game_sessions">
        <div class="team" [class.winner]="gameSession.id == gameTable.winner_id">
            <img src="/assets/img/crown-ico.png" alt="crown icon">
            <h1 class="teams">{{gameSession.name}}</h1>
        </div>
        <div class="team-list">
            <ul>
                <li *ngFor="let player of gameSession.members">{{player.name}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="timer">
    <div class="boss-name">
            <ul>
                <li *ngFor="let boss of gameTable.bosses">{{boss.name}}</li>
            </ul>
        </div>
    <div class="boss-time" *ngFor="let gameSession of gameTable.game_sessions">
            <ul>
                <li *ngFor="let bossKill of gameSession.boss_kills">{{ bossKill.end_time | date:'mm:HH dd/mm/yyyy' }}</li>
            </ul>
        </div>
</div>

<div class="yellow">
    <div class="winner-announced">
        winner: TEAM 1
    </div>
    <div class="time-sum">
        13:01
    </div>
    <div class="time-sum">
        13:02
    </div>
</div>