<div class="table-view">
    <div class="col1">
        <div class="user-code">
            your in-app code<span>12345678</span>
        </div>
    </div>
    <div class="col2">
        <div class="team1">
            <img src="/assets/img/crown-ico.png" alt="crown icon">
            <h1 class="teams">team 1</h1>
        </div>
        <div class="team-list">
            <ul>
                <li>User 1</li>
                <li>User 2</li>
                <li>User 3</li>
                <li>User 4</li>
                <li>User 5</li>
            </ul>
        </div>
    </div>
    <div class="col3">
        <div class="team2">
            <img src="/assets/img/crown-ico.png" alt="crown icon">
            <h1 class="teams">team 2</h1>
        </div>
        <div class="team-list">
            <ul>
                <li>User 1</li>
                <li>User 2</li>
                <li>User 3</li>
                <li>User 4</li>
                <li>User 5</li>
            </ul>
        </div>
    </div>
</div>

<div class="timer">
    <div class="boss-name">
            <ul>
                <li>Boss 1</li>
                <li>Boss 2</li>
                <li>Boss 3</li>
                <li>Boss 4</li>
                <li>Boss 5</li>
            </ul>
        </div>
    <div class="boss-time">
            <ul>
                <li>Time</li>
                <li>Time</li>
                <li>Time</li>
                <li>Time</li>
                <li>Time</li>
            </ul>
        </div>
    <div class="boss-time">
        <ul>
        <li>Time</li>
        <li>Time</li>
        <li>Time</li>
        <li>Time</li>
        <li>Time</li>
        </ul>
        </div>
</div>

<div class="yellow">
    <div class="winner-announced">
        winner: TEAM 1
    </div>
    <div class="time-sum">
        13:01
    </div>
    <div class="time-sum">
        13:02
    </div>
</div>